<style>
    .swiper{
    display:flex;
    max-width:100% !important;
    height:auto !important;
    padding-left:0.8rem !important;
    overflow:hidden
  }

  .swiper-slide .content {
    position: relative;
    z-index: 10;
}

.swiper-slide h2 {
    color: black;
    font-size: 16px;
    margin: 10px 0;
}

</style>


{%- style -%}
  .slideshow-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .slideshow-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="slideshow-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
<div class="swiper">
    <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
            {% case block.type %}
                {% when 'image' %}
                    <div class="swiper-slide">
                        <img src="{{ block.settings.image | image_url: width: '278px' }}" alt="Image" class="image-with-text__image" width="278px" height="250px">
                            <div class="image-text">
                                <p>{{ block.settings.image_text }}</p>
                            </div>          

                    </div>
            {% endcase %}
                {%- endfor -%}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-next-button"></div>
</div>
</div>



<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 5,
       /* spaceBetween: 0, */
        freeMode: true,
        loop: true,
        navigation: {
            nextEl: ".swiper-next-button",
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>


{% schema %}
  {
    "name": "Custom-Slideshow",
    "settings": [
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
     
    ],
     "blocks": [

        {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_text",
          "label": "Text"
        }
        
      ]
     },
       
     ],
    "presets":[{
    "name":"Custom-Slideshow-2"
    }
  ]
  }
{% endschema %}