<style>
    .swiper{
    display:flex;
    justify-content:center;
    width:80% !important;
    height:250px !important;
  
  }

  
    .swiper-next-button svg {
      fill: white;
    }

  .swiper-slide{
    display:flex
  }

</style>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                          {%- for block in section.blocks -%}
              {% case block.type %}
                        {% when 'image' %}
            <img src="{{ block.settings.image | image_url: width:'80px' }}" alt="Network error" class="image-with-text__image" width="80px" height="80px">

{% comment %}
                <img src="{{ section.settings.image-1 | image_url: width: '250px' }}" alt="Image 1" class="image-with-text__image" width="" height="">
            </div>
            <div class="swiper-slide">
                <img src="{{ section.settings.image-2 | image_url: width: '250px' }}" alt="Image 2" class="image-with-text__image" width="" height="">
            </div>
            <div class="swiper-slide">
                <img src="{{ section.settings.image-3 | image_url: width: '250px' }}" alt="Image 3" class="image-with-text__image" width="" height="">
            </div>
            <div class="swiper-slide">
                <img src="{{ section.settings.image-4 | image_url: width: '250px' }}" alt="Image 4" class="image-with-text__image" width="" height="">
            </div>
        </div>
                

                {% endcomment %}
 {%- endcase -%}
                 {%- endfor -%}
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-next-button"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


<script>
 var swiper = new Swiper(".swiper", {
      slidesPerView: 3,
      spaceBetween: 10,
      freeMode: true,
      loop: true,
    navigation: {
        nextEl: ".swiper-next-button",
       
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });   
</script>



{% schema %}
  {
    "name": "Section name",
    "settings": [
    ],
     "blocks": [

        {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
     },
       
     ],
    "presets":[{
    "name":"Custom-Slideshow-2"
    }
  ]
  }
{% endschema %}